<nav class="flex gap-4 justify-between items-center">
  <h1>Inventory Application</h1>
  <ul class="flex gap-4">
    <a href="/brands">Brands</a>  
    <a href="/models">Models</a>  
  </ul>
  <ul class="flex gap-4">
    <a href="/brands/create" class="bg-blue rounded button">New brand</a>  
    <a href="/models/create" class="bg-blue rounded button">New Model</a>  
  </ul>
</nav>
