<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body class="h-full p-4">
    <%- include("partials/navbar") %>
    <h2 class="text-center p-4">Create model</h2>
    <form method="post" action="/model/create" class="flex flex-col justify-center items-center gap-2">
      <label for="name" class="w-500 flex flex-col gap-2">
        <span>Name: </span>
        <input type="text" name="name" id="name" />
      </label>  
      <label for="country" class="w-500 flex flex-col gap-2">
        <span>Country: </span>
        <input type="text" name="country" id="country" />
      </label>  
      <label for="logo" class="w-500 flex flex-col gap-2">
        <span>Logo Url: </span>
        <input type="text" name="logo" id="logo" />
      </label>  
      <div class="p-4">
        <button type="submit" class="bg-blue rounded">Submit</button>
      </div>
    </form>
  </body>
</html>
