<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body class="h-full p-4">
    <%- include("partials/navbar") %>
    <h2 class="text-center p-4">Create model</h2>
    <form method="post" action="/models/create" class="flex flex-col justify-center items-center gap-2">
      <label for="name" class="w-500 flex flex-col gap-2">
        <span>Name: </span>
        <input type="text" name="name" id="name" />
      </label>  
      <label for="year" class="w-500 flex flex-col gap-2">
        <span>Year: </span>
        <input type="number" name="year" id="year" />
      </label>  
      <label for="price" class="w-500 flex flex-col gap-2">
        <span>Price: </span>
        <input type="number" name="price" id="price" />
      </label>  
      <label for="brand_id" class="w-500 flex flex-col gap-2">
        <span>Brand: </span>
        <select name="brand_id" id="brand_id">
          <% brands.forEach((brand) => { %>
            <option value="<%= brand.id %>"><%= brand.name %></option>
          <% }) %>
        </select>
      </label>  
      <label for="image" class="w-500 flex flex-col gap-2">
        <span>Image Url: </span>
        <input type="text" name="image" id="image" />
      </label>  
      <div class="p-4">
        <button type="submit" class="bg-blue rounded">Submit</button>
      </div>
    </form>
  </body>
</html>
