<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body class="flex flex-col p-4 gap-4">
    <%- include("partials/navbar") %>
    <ul class="grid grid-cols-4 gap-4">
      <% models.forEach((model) => { %>
        <%- include("partials/model", { model: model }); %>
      <% }) %>
    </ul>
  </body>
</html>
